@import url("/src/assets/fonts/Helvetica/stylesheet.css");

:root {
    --helvetica-font-family: "Helvetica Neue", sans-serif;
}

html,
body,
#root {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}